<mat-toolbar class="top-bar">
  @if (showMenuButton()) {
    <button
      mat-icon-button
      type="button"
      aria-label="Open navigation"
      matTooltip="Open navigation"
      (click)="menuToggle.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span class="product-name">Net Worth Tracker</span>
  <span class="toolbar-spacer"></span>
  @if (userName(); as userName) {
    <span class="user-name">{{ userName }}</span>
  }
  <button
    mat-icon-button
    type="button"
    aria-label="Log out"
    matTooltip="Log out"
    (click)="logout.emit()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
